<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
        <!--
        $(function () {
//        $('#outcomeDate').datepicker({
//            dateFormat: 'yy-mm-dd',
//            autoSize: true
//        });
            $('#dailyOutcomeForm').validate(
                    {
                        errorClass: 'text-danger',
                        rules: {
                            outcomeDate: {
                                required: true,
                                dateISO: true
                            },
                            outcomeName: {
                                required: true,
                                rangelength: [ 1, 100 ]
                            },
                            amount: {
                                required: true
                            },
                            quantity: {
                                required: true,
                                max: 1000,
                                min: 1
                            },
                            payment: {
                                required: true
                            },
                            dailyOutcomeCategoryId: {
                                required: true
                            }
                        },
                        highlight: function (element) {
                            $(element).closest('.form-group').removeClass(
                                    'has-success').addClass('has-error');
                        }
                    });


            new TaxAddView($('#amount'),
                    $('#btn-add-8percent'),
                    $('#btn-minus-8percent'),
                    $('#btn-add-5percent'),
                    $('#btn-minus-5percent'),
                    $('#btn-add-10percent'),
                    $('#btn-minus-10percent'),
                    $('#btn-revert'));
        });
        //-->
    </script>
    <script th:if="${created != null &&created != ''}" type="text/javascript"
            th:inline="javascript">
        <!--
        $(function () {
            var created = /*[[${created}]]*/ null;
            $('.top-right').notify({
                message: {
                    text: created + 'を登録しました！'
                },
                fadeOut: {
                    enabled: false
                }
            }).show();
        });
        //-->
    </script>
    <script>
        function predict(input) {
            $.ajax({
                type: 'post',
                url: 'https://predict.cfapps.pez.pivotal.io/api/predict',
                data: {outcomeName: input.value},
                success: function (res) {
                    var predicted = _(res).sortBy(function (x) {
                        return -x.probability;
                    })[0];
                    var categoryId = document.querySelector("#dailyOutcomeCategoryId");
                    if (predicted) {
                        categoryId.value = predicted.categoryId;
                    } else {
                        categoryId.value = '';
                    }
                }
            });
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <h2>支出登録</h2>

    <div class='notifications top-right'></div>
    <form th:action="@{/dailyOutcome}"
          method="POST"
          th:object="${dailyOutcomeForm}"
          id="dailyOutcomeForm"
          class="form-horizontal">
        <div class="form-group">
            <label for="outcomeDate"
                   class="col col-sm-2 row-label control-label">日付
            </label>

            <div class="col col-sm-10 controls">
                <input id="outcomeDate"
                       th:field="*{outcomeDate}"
                       type="date"
                       class="form-control"
                       placeholder="yyyy-MM-dd"/>
                <span th:if="${#fields.hasErrors('outcomeDate')}" th:errors="*{outcomeDate}" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="outcomeName"
                   class="col col-sm-2 row-label control-label">支出名
            </label>

            <div class="col col-sm-10 controls">
                <input id="outcomeName"
                       th:field="*{outcomeName}"
                       type="text"
                       class="form-control"
                       onblur="predict(this)"
                       placeholder="にんじん等"/>
                <span th:if="${#fields.hasErrors('outcomeName')}" th:errors="*{outcomeName}" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="amount"
                   class="col col-sm-2 row-label control-label">単価
            </label>

            <div class="col col-sm-10 controls">
                <input id="amount"
                       th:field="*{amount}"
                       type="text"
                       class="form-control"/>
                円
                <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="text-danger"></span>

                <button class="btn btn-default" id="btn-add-8percent">+8%</button>
                <button class="btn btn-default" id="btn-minus-8percent">-8%</button>
                <button class="btn btn-default" id="btn-add-5percent">+5%</button>
                <button class="btn btn-default" id="btn-minus-5percent">-5%</button>
                <button class="btn btn-default" id="btn-add-10percent">+10%</button>
                <button class="btn btn-default" id="btn-minus-10percent">-10%</button>
                <button class="btn btn-default" id="btn-revert">+0%</button>
            </div>
        </div>
        <div class="form-group">
            <label for="quantity"
                   class="col col-sm-2 row-label control-label">数量
            </label>

            <div class="col col-sm-10 controls">
                <input id="quantity"
                       th:field="*{quantity}"
                       type="number"
                       min="1"
                       class="form-control"/>
                点
                <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="dailyOutcomeCategoryId"
                   class="col col-sm-2 row-label control-label">カテゴリ
            </label>

            <div class="col col-sm-10 controls">
                <select id="dailyOutcomeCategoryId"
                        th:field="*{dailyOutcomeCategoryId}"
                        class="form-control">
                    <option value="">--</option>
                    <optgroup th:each="categoryGroup : ${dailyOutcomeCategoryMap}"
                              th:label="${categoryGroup.key}">
                        <option th:each="value : ${categoryGroup.value}"
                                th:label="${value.value}"
                                th:value="${value.key}"></option>
                    </optgroup>
                </select>
                <span th:if="${#fields.hasErrors('dailyOutcomeCategoryId')}" th:errors="*{dailyOutcomeCategoryId}"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col col-sm-2 row-label control-label">支払い方法
            </label>

            <div class="col col-sm-10 controls">
                <span th:each="payment : ${payments}">
                    <label>
                        <input type="radio"
                               th:field="*{payment}"
                               th:value="${payment}"
                               name="payment"/>
                        <span th:text="${payment}"></span>
                    </label>
                </span>
                <span th:if="${#fields.hasErrors('payment')}" th:errors="*{payment}" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="waste"
                   class="col col-sm-2 row-label control-label">無駄
            </label>

            <div class="col col-sm-10 controls">
                <input type="checkbox" id="waste" th:field="*{waste}" class="form-control"/>
                <span th:if="${#fields.hasErrors('waste')}" th:errors="*{waste}" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="createUserId"
                   class="col col-sm-2 row-label control-label">登録ユーザー
            </label>

            <div class="col col-sm-10 controls">
                <select id="createUserId"
                        th:field="*{createUserId}"
                        class="form-control">
                    <option th:each="value : ${userNameMap}"
                            th:label="${value.value}"
                            th:value="${value.key}"></option>
                </select>
                <span th:if="${#fields.hasErrors('createUserId')}" th:errors="*{createUserId}"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="remarks"
                   class="col col-sm-2 row-label control-label">備考
            </label>

            <div class="col col-sm-10 controls">
                <textarea id="remarks" th:field="*{remarks}" class="form-control"></textarea>
                <span th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-actions">
            <div class="col col-sm-10 col-sm-offset-2">
                <input type="submit"
                       class="btn btn-primary disable-double-submit" value="登録"/>
                <span th:if="${date != null}">
                    <a th:href="@{/calendar/}+${date.toString('yyyy/MM/dd')}"
                       class="btn btn-success"><span class="glyphicon glyphicon-list"></span>
                        <span th:text="${date.toString('yyyy-MM-dd')}"></span>の支出</a>
                </span>
                <a th:href="@{/}"
                   class="btn btn-default disable-double-submit"><span
                        class="glyphicon glyphicon-home"></span> HOME</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>