<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.hibernate.engine.transaction" level="WARN"/>
    <logger name="moneyger4u" level="DEBUG"/>
    <logger name="org.terasoluna.gfw.web.logging.TraceLoggingInterceptor" level="${log.verbose:-TRACE}"/>
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="jdbc.resultsettable" level="ERROR"/>
    <logger name="org.hibernate.tool" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
</configuration>

