<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-horizontal"
          th:action="@{/authentication}"
          method="POST">
        <div th:if="${param.error}" class="alert alert-danger">
            <a class="close" href="#" onclick="$(this).parent().hide()">x</a>
            <h4 class="alert-heading">Login error!</h4>
            Invalid username and password.
        </div>
        <fieldset>
            <legend>ログイン</legend>
            <div class="form-group">
                <!-- Username -->
                <label class="col col-sm-2 control-label" for="username">ユーザ名</label>

                <div class="col col-sm-10">
                    <input type="text" id="username" name="username"
                           placeholder="Your E-mail address"
                           class="form-control">
                </div>
            </div>

            <div class="form-group">
                <!-- Password-->
                <label class="col col-sm-2 control-label" for="password">パスワード</label>

                <div class="col col-sm-10">
                    <input type="password" id="password" name="password"
                           placeholder="Your password" class="form-control">

                    <div class="checkbox">
                        <label> <input type="checkbox"
                                       id="_spring_security_remember_me"
                                       name="_spring_security_remember_me">ログインしたままにする</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!-- Button -->
                <div class="col col-sm-10 col-sm-offset-2">
                    <button class="btn btn-success">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>